@using TheBlogProject.Services
@using TheBlogProject.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService imageService;
@model IPagedList<Post>


@foreach (var post in Model) {


    <div class="container">
                    <!-- Author Blog Post Wrap Start -->
                    <div class="row">
                        @foreach (var blog in Model)
                        {
                            <div class="col-lg-2">
                            <!-- Hero Category Area Start -->
                                <div class="pb-3">
                                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug" class="single-hero-category-item author-blog-thum" data-aos="fade-up">
                                        <img src = "@imageService.DecodeImage(blog.ImageData, blog.ContentType)">
                                        <div class="tCon">
                                            <h3 class="title d-flex justify-content-center">@post.Title</h3>
                                            <p class="description">@post.Abstract</p>
                                     
                                        </div>
                                    </a>
                                </div><!-- Hero Category Area End -->
                                </div>
                        }
                       
                    </div><!-- Author Blog Post Wrap End -->
                   
</div>
     
}

<hr />

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
             new PagedListRenderOptionsBase
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
             
             });
        
        
    </div>
</div>


