@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Services
@using Newtonsoft.Json
@model TheBlogProject.Models.Post
@inject IImageService imageService
@inject UserManager<BlogUser> userManager

@{
    ViewData["Title"] = "Details";
}

<!-- breadcrumb-area start -->   
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_box text-center">
                    <!-- <h2 class="breadcrumb-title">@@title</h2> -->
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Blog Details</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<article id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!-- Blog Details Wrapper Start -->
        <div class="blog-details-wrapper section-space--ptb_80">
            <div class="container">
                <div class="row row--17">
                    <div class="blog-details-col-8">
                        <!-- blog details Post Start -->
                       @Html.Raw(Model.Content)
                    </div>
                  
            </div>
            </div>
        <!-- Trending Topic Area End -->

    </div>
</div>
</article>

<hr />

    <article>
        
        <div class="row">
            <div class="col text-center font-weight-bold h3">
                Custom Post Tags
            </div>
        </div>
            <div class="row">
                <div class="col">
                    @foreach(var tag in Model.Tags) {
                    <a class="btn btn-warning btn-sm btn-block btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            </div>
            </div>
        

    </article>

<hr />

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-action ="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)


            <div class="form-group">
                <label class="h2 control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>


            <button type="submit" class="btn btn-dark btn-block btn-small">
                Submit
            </button>

        </form>

    }

    else
    {
        <a class="btn btn-block btn-small btn-dark"  asp-area="Identity" asp-page="/Account/Login">
            Login to add comments</a>
    }

</div>

<hr />

<button id="commentSection" class="btn btn-sm btn-dark btn-block">@Model.Comments.Count Comment(S)</button>

@foreach (var comment in Model.Comments)
{
<div class ="media media-border p-0 mb-2 bg-light">   
    <img class="mr-3 mt-3 rounded-circle" style="width: 60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)">
    <div class="media-body">
        <h4>@comment.BlogUser.FullName</h4>
        <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
        <p>@comment.Body</p>

            @if(comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr />
                
            }
        </div>
</div>


@*Models*@
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-whatever="">Edit</button>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editing Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-action="Edit" asp-controller="Comments">
            @Html.Hidden("Id", comment.Id)
          <div class="form-group"> 
              <textarea name="Body" class="form-control" required>@comment.Body</textarea>
              <button class="btn-sm btn-dark border-success font-weight-bold" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn-sm btn-dark font-weight-bold" data-bs-dismiss="modal" >Close </button>

      </div>
    </div>
  </div>
</div>

}